{varType SixtyEightPublishers\ForgotPasswordBundle\ReadModel\View\PasswordRequestView $item}

<span n:ifcontent class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-indigo-100 text-indigo-800 mr-1">{$item->requestDeviceInfo->ipAddress()->value()}</span>
<span n:ifcontent class="text-xs">{$item->requestDeviceInfo->userAgent()->value()}</span>
