services:
	reader_factory.csv:
		autowired: no
		factory: App\Application\DataReader\Reader\CsvReaderFactory

	reader_factory.json:
		autowired: no
		factory: App\Application\DataReader\Reader\JsonReaderFactory

	reader_factory.array:
		autowired: no
		factory: App\Application\DataReader\Reader\ArrayReaderFactory

	reader_factory.php:
		autowired: no
		factory: App\Application\DataReader\Reader\PhpReaderFactory

	data_reader:
		autowired: App\Application\DataReader\DataReaderFactoryInterface
		type: App\Application\DataReader\DataReaderFactoryInterface
		factory: @data_reader.default

	data_reader.default:
		autowired: no
		factory: App\Application\DataReader\DataReaderFactory
		arguments:
			readerFactories:
				- @reader_factory.csv
				- @reader_factory.json
				- @reader_factory.array
				- @reader_factory.php
