services:
	- App\Application\OpenApiConfiguration(
		::env(API_DOCS_ENABLED|bool, false),
		::implode('', [::env(PROJECT_API_URL, ::env(PROJECT_URL)), App\Api\V1\Controller\OpenApiController::ENDPOINT])
	)
