{extends $originalTemplate}

{varType App\ReadModel\User\UserView $item}

{define col-roles}
    {foreach $item->roles->all() as $role}
        {varType SixtyEightPublishers\UserBundle\Domain\ValueObject\Role $role}
        {_'//layout.role_name.' . $role->value()}{if !$iterator->isLast()}, {/if}
    {/foreach}
{/define}
