{templateType App\Web\AdminModule\ProjectModule\Control\ConsentHistory\ConsentHistoryModalTemplate}

{extends $layout}

{block #title}
    <span class="break-words">{_title, [user_identifier => $consentView->userIdentifier->value()]}</span>
{/block}

{block #body}

{control history}
