{block #page_size}max-w-14xl{/block}

{block #heading_actions}
    <a n:if="$user->isAllowed(App\Application\Acl\UserResource::class, App\Application\Acl\UserResource::CREATE)" n:href="AddUser:" data-spinner-for="self" class="spinner-white inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{_add_new_user}</a>
{/block}

{block #content}

{control list}
