# infra: dbal types
nettrine.dbal:
	connection:
		types:
			App\Domain\Shared\ValueObject\Checksum:
				class: App\Infrastructure\Shared\Doctrine\DbalType\ChecksumType
				commented: yes

			App\Domain\Shared\ValueObject\Locale:
				class: App\Infrastructure\Shared\Doctrine\DbalType\LocaleType
				commented: yes

			App\Domain\Shared\ValueObject\Locales:
				class: App\Infrastructure\Shared\Doctrine\DbalType\LocalesType
				commented: yes
