services:
	-
		autowired: no
		factory: App\Subscribers\Shared\ClearEtagStoreWhenAnythingRelatedToCookiesChanged
	-
		autowired: no
		factory: App\Subscribers\Shared\RecalculateCookieSuggestionsStatisticsWhenAnythingRelatedChanged
