{extends $originalTemplate}

{varType App\ReadModel\Category\CategoryView $item}
{varType App\Application\GlobalSettings\Locale|null $_locale}

{define col-name}
    {if NULL !== $_locale && isset($item->names[$_locale->code()])}
        <a n:tag-if="$user->isAllowed(App\Application\Acl\CategoryResource::class, App\Application\Acl\CategoryResource::UPDATE)" href="{plink :Admin:Cookie:EditCategory: id => $item->id->toString()}" data-spinner-for="self" class="font-semibold">
            {$item->names[$_locale->code()]->value()}
        </a>
    {/if}
{/define}

{define col-active}
    {if $item->active}
        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-green-100 text-green-800">{_active_value}</span>
    {else}
        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-100 text-gray-800">{_inactive_value}</span>
    {/if}
{/define}
