services:
    -
        autowired: no
        factory: App\Domain\Category\CommandHandler\CreateCategoryCommandHandler
    -
        autowired: no
        factory: App\Domain\Category\CommandHandler\UpdateCategoryCommandHandler
    -
        autowired: no
        factory: App\Domain\Category\CommandHandler\DeleteCategoryCommandHandler
