{templateType App\Web\Control\Gtm\GtmTemplate}

<noscript n:if="!empty($containerId)">
    <iframe src="https://www.googletagmanager.com/ns.html?id={$containerId}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
