services:
    -
        autowired: no
        factory: App\Domain\CookieSuggestion\CommandHandler\CreateCookieSuggestionCommandHandler
    -
        autowired: no
        factory: App\Domain\CookieSuggestion\CommandHandler\AddCookieSuggestionOccurrencesCommandHandler
    -
        autowired: no
        factory: App\Domain\CookieSuggestion\CommandHandler\DoNotIgnoreCookieSuggestionCommandHandler
    -
        autowired: no
        factory: App\Domain\CookieSuggestion\CommandHandler\IgnoreCookieSuggestionPermanentlyCommandHandler
    -
        autowired: no
        factory: App\Domain\CookieSuggestion\CommandHandler\IgnoreCookieSuggestionUntilNextOccurrenceCommandHandler
