#toast-container > .toast {
    @apply bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden p-4 pl-14 opacity-90 relative;
    background-image: none !important;
}

#toast-container > .toast:hover {
    @apply shadow-lg;
}

#toast-container > .toast .toast-close-button {
    @apply static;
}

#toast-container > .toast::before {
    @apply absolute w-6 h-6 top-3.5 left-3.5;
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' stroke-width='2' stroke='currentColor' fill='none'%3E%3Cg%3E%3Cpath stroke='%2322c55e' id='svg_1' d='m9,12l2,2l4,-4m6,2a9,9 0 1 1 -18,0a9,9 0 0 1 18,0z' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
}

#toast-container > .toast.toast-success::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' stroke-width='2' stroke='currentColor' fill='none'%3E%3Cg%3E%3Cpath stroke='%2322c55e' id='svg_1' d='m9,12l2,2l4,-4m6,2a9,9 0 1 1 -18,0a9,9 0 0 1 18,0z' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
}

#toast-container > .toast.toast-warning::before {
    content: url("data:image/svg+xml,%3Csvg width='23.999999999999996' height='23.999999999999996' xmlns='http://www.w3.org/2000/svg' stroke-width='2' stroke='currentColor' fill='none'%3E%3Cg%3E%3Cpath stroke='%23eab308' id='svg_1' d='m12,9l0,2m0,4l0.01,0m-6.938,4l13.856,0c1.54,0 2.502,-1.667 1.732,-3l-6.928,-12c-0.77,-1.333 -2.694,-1.333 -3.464,0l-6.928,12c-0.77,1.333 0.192,3 1.732,3z' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
}

#toast-container > .toast.toast-error::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' stroke-width='2' stroke='currentColor' fill='none'%3E%3Cg%3E%3Cpath stroke='%23ef4444' id='svg_1' d='m10,14l2,-2m0,0l2,-2m-2,2l-2,-2m2,2l2,2m7,-2a9,9 0 1 1 -18,0a9,9 0 0 1 18,0z' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
}

#toast-container > .toast.toast-info::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' stroke-width='2' stroke='currentColor' fill='none'%3E%3Cg%3E%3Cpath stroke='%233b82f6' id='svg_1' d='m13,16l-1,0l0,-4l-1,0m1,-4l0.01,0m8.99,4a9,9 0 1 1 -18,0a9,9 0 0 1 18,0z' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
}

#toast-container > .toast .toast-title,
#toast-container > .toast .toast-message {
    @apply text-sm text-gray-800;
}

#toast-container > .toast .toast-title {
    @apply font-medium mb-1;
}
