services:
	# Latte
	- App\Bridge\Latte\InternalCssRenderer(%wwwDir%, %debugMode%)

	nette.latteFactory:
		setup:
			- App\Bridge\Latte\AppMacroSet::installOnEngine($service, @App\Bridge\Latte\InternalCssRenderer)

	# Routing
	routing.router: App\Web\Router\RouterFactory()::create()

	# Web\Ui
	- App\Web\Ui\Form\RecaptchaResolver(::env(RECAPTCHA_ENABLED|bool, no))
	-
		type: App\Web\Ui\Form\FormFactoryInterface
		factory: App\Web\Ui\Form\FormFactory
	-
		type: App\Web\Ui\DataGrid\DataGridFactoryInterface
		factory: App\Web\Ui\DataGrid\DataGridFactory

	-
		type: App\Web\Ui\Modal\Dispatcher\ModalDispatcherInterface
		factory: App\Web\Ui\Modal\Dispatcher\ModalDispatcher

	- App\Web\Ui\Modal\ModalsControlFactoryInterface
	- App\Web\Ui\Modal\Confirm\ConfirmModalControlFactoryInterface

	# Web\Control
	-
		implement: App\Web\Control\Gtm\GtmControlFactoryInterface
		factory: App\Web\Control\Gtm\GtmControl(::env(GTM_CONTAINER_ID, ''))

	- App\Web\Control\Footer\FooterControlFactoryInterface
	- App\Web\Control\Localization\LocalizationControlFactoryInterface

	# Web\FrontModule
	- App\Web\FrontModule\Control\SignIn\SignInControlFactoryInterface
	- App\Web\FrontModule\Control\ForgotPassword\ForgotPasswordControlFactoryInterface
	- App\Web\FrontModule\Control\ResetPassword\ResetPasswordControlFactoryInterface

	# Web\AdminModule\ApplicationModule
	- App\Web\AdminModule\ApplicationModule\Control\GlobalSettingsForm\GlobalSettingsFormControlFactoryInterface

	# Web\AdminModule\AccountModule
	- App\Web\AdminModule\ProfileModule\Control\BasicInformation\BasicInformationControlFactoryInterface

	# Web\AdminModule\UserModule
	- App\Web\AdminModule\UserModule\Control\UserList\UserListControlFactoryInterface
	- App\Web\AdminModule\UserModule\Control\PasswordRequestList\PasswordRequestListControlFactoryInterface
	- App\Web\AdminModule\UserModule\Control\UserForm\UserFormControlFactoryInterface
	- App\Web\AdminModule\ProfileModule\Control\PasswordChange\PasswordChangeControlFactoryInterface
	- App\Web\AdminModule\UserModule\Control\NotificationPreferences\NotificationPreferencesControlFactoryInterface

	# Web\AdminModule\CookieModule
	- App\Web\AdminModule\CookieModule\Control\CategoryList\CategoryListControlFactoryInterface
	- App\Web\AdminModule\CookieModule\Control\CategoryForm\CategoryFormControlFactoryInterface
	- App\Web\AdminModule\CookieModule\Control\ProviderList\ProviderListControlFactoryInterface
	- App\Web\AdminModule\CookieModule\Control\ProviderForm\ProviderFormControlFactoryInterface
	- App\Web\AdminModule\CookieModule\Control\CookieList\CookieListControlFactoryInterface
	- App\Web\AdminModule\CookieModule\Control\CookieForm\CookieFormControlFactoryInterface
	- App\Web\AdminModule\CookieModule\Control\CookieForm\CookieFormModalControlFactoryInterface

	# Web\AdminModule\ProjectModule
	- App\Web\AdminModule\ProjectModule\Control\ConsentList\ConsentListControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\ConsentSettingsList\ConsentSettingsListControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\ConsentHistory\ConsentHistoryControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\ConsentHistory\ConsentHistoryModalControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\ConsentSettingsDetail\ConsentSettingsDetailControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\ConsentSettingsDetail\ConsentSettingsDetailModalControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\ProjectForm\ProjectFormControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\DeleteProject\DeleteProjectControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\ProviderForm\ProviderFormControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\OtherProvidersForm\OtherProvidersFormControlFactoryInterface
	- App\Web\AdminModule\ProjectModule\Control\TemplatesForm\TemplatesFormControlFactoryInterface
