services:
	# Routing
	routing.router: App\Web\Router\RouterFactory()::create()

	# Web\Ui
	- App\Web\Ui\Form\RecaptchaResolver(::env(RECAPTCHA_ENABLED|bool, no))
	-
		type: App\Web\Ui\Form\FormFactoryInterface
		factory: App\Web\Ui\Form\FormFactory
	-
		type: App\Web\Ui\DataGrid\DataGridFactoryInterface
		factory: App\Web\Ui\DataGrid\DataGridFactory

	# Web\FrontModule
	- App\Web\FrontModule\Control\SignIn\SignInControlFactoryInterface
	- App\Web\FrontModule\Control\ForgotPassword\ForgotPasswordControlFactoryInterface
	- App\Web\FrontModule\Control\ResetPassword\ResetPasswordControlFactoryInterface

	# Web\AdminModule\AccountModule
	- App\Web\AdminModule\ProfileModule\Control\BasicInformation\BasicInformationControlFactoryInterface

	# Web\AdminModule\UserModule
	- App\Web\AdminModule\UserModule\Control\UserList\UserListControlFactoryInterface
	- App\Web\AdminModule\UserModule\Control\PasswordRequestList\PasswordRequestListControlFactoryInterface
	- App\Web\AdminModule\UserModule\Control\UserForm\UserFormControlFactoryInterface
	- App\Web\AdminModule\ProfileModule\Control\PasswordChange\PasswordChangeControlFactoryInterface

	# Web\AdminModule\ProjectModule
	- App\Web\AdminModule\ProjectModule\Control\ProjectForm\ProjectFormControlFactoryInterface
