page_title: Dashboard

previous_period: Předchozí rozsah
next_period: Následující rozsah

yesterday: Včera
today: Dnes
last_7_days: Posledních 7 dní
last_14_days: Posledních 14 dní
last_30_days: Posledních 30 dní

reload_project_data: Načíst znova
response_error: Data se nepodařilo načíst.
project_missing_in_response: Data pro projekt nebyla nalezena.

visit_website: navštívit
all_consents: 'Souhlasy (vše)'
unique_consents: Souhlasy
all_positive: 'Pozitivita (vše)'
unique_positive: Pozitivita
last_consent: Poslední souhlas
providers: Poskytovatelé
cookies: Cookies

cookies_tooltip_message: '%common% cookies služeb, %private% projektových'
cookie_suggestions_tooltip_message: Návrhy cookies
