old_password:
	field: Current password
	required: Please enter your current password.
	error:
		invalid_password: The current password does not match.

new_password:
	field: New password
	required: Please enter a new password.

new_password_verify:
	field: New password again
	required: Please retype your new password.
	rule_equal: Passwords do not match.

save:
	field: Change
