name:
	field: Name
	required: Please enter a name.
	error:
		duplicated_value: 'A cookie with this name already exists.'

domain:
	field: Domain
	description: 'Leave blank if the cookie is always set for the domain of the project.'

provider:
	field: Provider
	required: Please select a provider.

category:
	field: Category
	required: Please select a category.

processing_time:
	field: Processing time
	required: Please select a processing time.

active:
	field: Active

session: Session
persistent: Persistent
expiration: Expiration

processing_time_mask:
	field: 'Processing time - expiration'
	required: Please enter an expiration.
	rule_pattern: The value is not a valid expiration.
	description: 'Modifiers "y" (year), "m" (month), "d" (day), "h" (hour), "i" (minute), "s" (second) are allowed. For example, expiration of "1y 6m" means that the cookie has an expiration of one year and 6 months.'

purpose:
	field: 'Purpose - %name%'

save:
	field: Create cookie

update:
	field: Save
