id: ID
email_address: Email
status: State
requested_at: Created
finished_at: Finished
request_device_info: 'Device (request creation)'
finished_device_info: 'Device (request completion)'

status_value:
    requested: Requested
    completed: Password changed
    canceled: Canceled
