host_url:
	field: URL
	required: Vyplňte prosím URL.
	rule:
		url: Hodnota není validní URL.

username:
	field: Uživatel
	required: Vyplňte prosím uživatele.

password:
	field: Heslo
	required: Vyplňte prosím heslo.

callback_uri_token:
	field: Callback URI Token
	required: Vyplňte prosím Callback URI Token.

save:
	field: Uložit
