notifications:
    field: 'Choose the notifications you want to receive'

update:
    field: Save

consent_decreased: Consent decrease
weekly_overview: Weekly overview
cookie_suggestions: Cookie suggestions
