name:
	field: Název
	required: Vyplňte prosím název.
	error:
		duplicated_value: 'Cookie s tímto názvem již existuje.'

category:
	field: Kategorie
	required: Zvolte prosím kategorii.

processing_time:
	field: 'Doba zpracování'
	required: Zvolte prosím dobu zpracování.

active:
	field: Aktivní

session: Session
persistent: Persistent
expiration: Expirace

processing_time_mask:
	field: 'Doba zpracování - expirace'
	required: Vypňte prosím expiraci.
	rule_pattern: Hodnota není validní expirace.
	description: 'Jsou povoleny modifikátory "y" (rok), "m" (měsíc), "d" (den), "h" (hodina). Například expirace "1y 6m" znamená, že cookie má expiraci jeden rok a 6 měsíců.'

purpose:
	field: 'Účel - %name%'

save:
	field: Vytvořit cookie

update:
	field: Uložit
