page_title: Settings
heading_localization: Localization
heading_api_cache: Performance

message:
	localization_settings_updated: The localization settings have been saved.
	localization_settings_update_failed: An error occurred while saving the localization settings.
	api_cache_settings_updated: The performance settings have been saved.
	api_cache_settings_update_failed: An error occurred while saving the performance settings.
