email_address:
	field: Email
	required: Please enter a email.
	rule: The value is not valid email.
	error:
		duplicated_value: A user with this email already exists.

firstname:
	field: Firstname
	required: Please enter a firstname.

surname:
	field: Surname
	required: Please enter a surname.

profile:
	field: Locale
	required: Please select a locale.

timezone:
	field: Timezone
	required: Please select a timezone.

roles:
	field: Roles
	required: A user must have at least one role.

password:
	field: Password
	description:
		create_user: 'Optional, the user can later set his password via "forgotten password".'
		update_user:
			create_password: '''
			<div class="rounded-md bg-yellow-50 p-2 mt-2">
				<div class="flex">
					<div class="flex-shrink-0">
						<svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
						</svg>
					</div>
					<div class="ml-3">
						<h3 class="text-sm font-medium text-yellow-800">The user does not have a password set, fill in the field if you want to set one.</h3>
					</div>
				</div>
			</div>
			'''
			change_password: '''
			<div class="rounded-md bg-green-50 p-2 mt-2">
				<div class="flex">
					<div class="flex-shrink-0">
						<svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
						</svg>
					</div>
					<div class="ml-3">
						<h3 class="text-sm font-medium text-green-800">The user has a set password, fill in the field only if you want to change it.</h3>
					</div>
				</div>
			</div>
			'''

projects:
	field: Projects

save:
	field: Create user

update:
	field: Save
