page_title: Zapomenuté heslo
back_to_sign_in: Zpět na přihlášení

message:
    password_change_requested: 'Na email %email_address% jsme vám odeslali odkaz pro změnu hesla.'
    email_address_not_found: 'Uživatel s emailovou adresou %email_address% není registrován.'
