name: Name
code: Code
active: Active
private: Project provider
private_description: 'A project provider is the "main" provider associated with the project.'
type: Type
link: Link
number_of_cookies: Cookies
created_at: Created

active_value: active
inactive_value: inactive

tooltip:
    edit_action: Edit
    delete_action: Delete

delete_confirm:
    question: 'Are you sure you want to delete the provider <strong>"%name%"</strong>?'
