page_title: Nový poskytovatel
heading_basic: Základní informace
back_to_list: Zpět na výpis poskytovatelů

message:
    provider_created: Poskytovatel byl vytvořen.
    provider_creation_failed: Při vytváření poskytovatele došlo k chybě.
