username:
    field: Email
    required: Vyplňte prosím email.

password:
    field: Heslo
    required: Vyplňte prosím heslo.

remember_me:
    field: Zůstat přihlášený

login:
    field: Přihlásit se
