name: Název
code: Kód
active: Aktivní
private: Privátní
private_description: 'Privátní poskytovatel je "hlavní" poskytovatel vázaný na daný projekt.'
type: Typ
link: Odkaz
number_of_cookies: Cookies
created_at: Vytvořeno

active_value: aktivní
inactive_value: neaktivní

tooltip:
    edit_action: Upravit
    delete_action: Odstranit

delete_confirm:
    question: 'Opravdu si přejete odstranit poskytovatele <strong>"%name%"</strong>?'
