email_address:
	field: Email
	required: Please enter a email.
	rule: The value is not valid email.
	error:
		duplicated_value: A user with this email already exists.

firstname:
	field: Firstname
	required: Please enter a firstname.

surname:
	field: Surname
	required: Please enter a surname.

profile:
	field: Locale
	required: Please select a locale.

timezone:
	field: Timezone
	required: Please select a timezone.

roles:
	field: Roles
	required: A user must have at least one role.

password:
	field: Password
	description:
		create_user: 'Optional, the user can later set his password via "forgotten password".'
		update_user:
			create_password: '''
			<div class="rounded-md bg-yellow-50 p-2 mt-2">
				<div class="flex">
					<div class="flex-shrink-0">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5 text-yellow-400">
                        	<path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                        </svg>
					</div>
					<div class="ml-3">
						<h3 class="text-sm font-medium text-yellow-800">The user does not have a password set, fill in the field if you want to set one.</h3>
					</div>
				</div>
			</div>
			'''
			change_password: '''
			<div class="rounded-md bg-green-50 p-2 mt-2">
				<div class="flex">
					<div class="flex-shrink-0">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5 text-green-400">
                        	<path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                        </svg>
					</div>
					<div class="ml-3">
						<h3 class="text-sm font-medium text-green-800">The user has a set password, fill in the field only if you want to change it.</h3>
					</div>
				</div>
			</div>
			'''

projects:
	field: Projects

save:
	field: Create user

update:
	field: Save
