email_address: Email
roles: Role

firstname:
    field: Jméno
    required: Vyplňte prosím jméno.

surname:
    field: Příjmení
    required: Vyplňte prosím příjmení.

profile:
    field: Jazyk
    required: Zvolte prosím jazyk.

timezone:
    field: Časové pásmo
    required: Zvolte prosím časové pásmo.

save:
    field: Uložit
