page_title: Změna hesla
title: Zvolte si nové heslo

message:
    password_reset: 'Heslo bylo úspěšně změněno, nyní se můžete přihlásit.'
    password_request_expired: Odkaz pro změnu hesla již expiroval.
    password_reset_failed: 'Heslo se nepodrařilo změnit, kontaktujte prosím support.'
