user_identifier: User identifier
settings_short_identifier: Widget version
created_at: Created
last_update_at: Updated

settingsShortIdentifierValue: version %shortIdentifier%

tooltip:
    detail_action: Detail
