page_title: Upravit uživatele
heading_basic: Základní informace
back_to_list: Zpět na výpis uživatelů

message:
	user_not_found: Uživatel nebyl nalezen.
	user_edited: Uživatel byl upraven.
	user_edit_failed: Při úpravě uživatele došlo k chybě.
