id: ID
email_address: Email
status: Stav
requested_at: Vytvořeno
finished_at: Dokončeno
request_device_info: 'Zařízení (vytvoření požadavku)'
finished_device_info: 'Zařízení (dokončení požadavku)'

status_value:
	requested: Čekající
	completed: Heslo změněno
	canceled: Zrušeno
