page_title: Upravit poskytovatele
heading_basic: Základní informace
heading_cookies: Cookies
back_to_list: Zpět na výpis poskytovatelů
add_new_cookie: Přidat cookie

message:
    provider_not_found: Poskytovatel nebyl nalezen.
    provider_updated: Poskytovatel byl upraven.
    provider_update_failed: Při upravování poskytovatele došlo k chybě.
    cookie_created: Cookie byla vytvořena.
    cookie_creation_failed: Při vytváření cookie došlo k chybě.
