name: Název
code: Kód
active: Aktivní
created_at: Vytvořeno

active_value: aktivní
inactive_value: neaktivní

tooltip:
    edit_action: Upravit
    delete_action: Odstranit

delete_confirm:
    title: Odstranit kategorii
    question: 'Opravdu si přejete odstranit kategorii <strong>"%name%"</strong> (%code%)?'
