name: Název
active: Aktivní
category_name: Kategorie
processing_time: Doba zpracování
provider_name: Poskytovatel
provider_type: Typ
projects: Projekty
created_at: Vytvořeno

active_value: aktivní
inactive_value: neaktivní

session: Session
persistent: Persistent

and_more_projects: "[1,4] a %count% další|[5,Inf[ a %count% dalších"

tooltip:
	edit_action: Upravit
	delete_action: Odstranit

delete_confirm:
	question: 'Opravdu si přejete odstranit cookie <strong>"%name%"</strong>?'

message:
	cookie_updated: Cookie byla upravena.
	cookie_update_failed: Při upravování cookie došlo k chybě.
