App_Domain_Consent_Event_ConsentUpdated:
	title: Consent has been updated

App_Domain_Consent_Event_ConsentCreated:
	title: The user "%user_identifier%" submitted the consent

consents: Consents
attributes: Attributes
settings_checksum: Cookie widget

settingsShortIdentifier: version %shortIdentifier%
