old_password:
	field: Aktuální heslo
	required: Vyplňte prosím aktuální heslo.
	error:
		invalid_password: Aktuální heslo se neshoduje.

new_password:
	field: Nové heslo
	required: Vyplňte prosím nové heslo.

new_password_verify:
	field: Nové heslo znova
	required: Přepište prosím znova své nové heslo.
	rule_equal: Hesla se neshodují.

save:
	field: Změnit
