enabled:
    field: Enabled

host_url:
    field: URL
    required: Please enter a URL.
    rule:
        url: The value is not a valid URL.

username:
    field: Username
    required: Please enter a username.

password:
    field: Password

callback_uri_token:
    field: Callback URI Token
    required: Please enter a Callback URI Token.

save:
    field: Save
