email_address: Email
roles: Role

firstname:
	field: Jméno
	required: Vyplňte prosím jméno.

surname:
	field: Příjmení
	required: Vyplňte prosím příjmení

profile:
	field: Jazyk aplikace
	required: Zvolte prosím jazyk aplikace.

timezone:
	field: Časové pásmo
	required: Zvolte prosím časové pásmo.

save:
	field: Uložit
