name: Name
status: Status
project: Project
createdAt: Started
finishedAt: Finished
duration: Duration

crawler_not_configured_error: 'Crawler is not set up correctly. You can configure it <a class="link" href="%link%">here</a>.'
crawler_api_respond_with_error_status_code: 'The API returned a response with the code <strong>%code%</strong>'
crawler_api_respond_with_unexpected_error: 'The API call raised an unexpected error: %error%'

tooltip:
    abort_action: Abort scenario
    detail_action: Detail
    suggestions_action: Manage suggestions

message:
    scenario_aborted: The scenario was successfully aborted.
    failed_to_abort_scenario: The scenario could not be aborted.
