page_title: Password reset
title: Choose a new password

message:
	password_reset: 'Password has been successfully changed, you can now sign in.'
	password_request_expired: The link to change your password has already expired.
	password_reset_failed: 'The password could not be changed, please contact support.'
