user_identifier: Identifikátor uživatele
settings_short_identifier: Verze lišty
created_at: Vytvořeno
last_update_at: Aktualizováno

settingsShortIdentifierValue: verze %shortIdentifier%

tooltip:
	detail_action: Detail
