page_title: Dashboard

yesterday: Včera
today: Dnes
last_7_days: Posledních 7 dní
last_14_days: Posledních 14 dní
last_30_days: Posledních 30 dní

reload_project_data: Načíst znova
response_error: Data se nepodařilo načíst.
project_missing_in_response: Data pro projekt nebyla nalezena.

all_consents: Souhlasy
unique_consents: 'Souhlasy (unikátní)'
all_positive: Pozitivita
unique_positive: 'Pozitivita (unikátní)'
last_consent: Poslední souhlas
providers: Poskytovatelé
cookies: Cookies
