page_title: Přihlášení
forgot_your_password: Zapomenuté heslo?
oauth_divider: Nebo

login_with:
    azure: Přihlásit se přes Azure

message:
    user_authentication_failed: Nesprávné přihlašovací údaje.
