page_title: Forgot password
back_to_sign_in: Back to sign in

message:
	password_change_requested: 'We have sent you a link to change your password to %email_address%.'
	email_address_not_found: 'The user with the email address %email_address% is not registered.'
