open_user_menu: Otevřít uživatelské menu
open_sidebar: Otevřít hlavní menu
close_sidebar: Zavřít hlavní menu

sidebar:
	dashboard: Dashboard
	users: Uživatelé
	user_list: Výpis uživatelů
	password_request_list: Zapomenutá hesla
	projects: Projekty

sidebar_project:
	consents: Evidence souhlasů
	providers: Poskytovatelé
	cookies: Cookies
	settings: Nastavení
	edit_project: Upravit projekt

profile:
	settings: Uživatelský profil
	sign_out: Odhlásit se

role_name:
	admin: Admin
	supervisor: Supervisor
