no_item_found_reset: 'Žádné položky. Můžete zkusit <a class="link ajax" href="%link%">resetovat filtr</a>.'
no_item_found: Žádné položky.
here: zde
items: ''
all: vše
from: z
reset_filter: Resetovat filtry
group_actions: Hromadné akce
show: Zobrazit
add: Přidat
edit: Edit
show_all_columns: Zobrazit všechny sloupce
show_default_columns: Zobrazit výchozí sloupce
hide_column: Schovat sloupec
action: ''
previous: Předchozí
next: Další
choose: Vybrat
choose_input_required: Hodnota nesmí být prázdná
execute: Provést
save: Uložit
cancel: Zrušit
multiselect_choose: Vybrat
multiselect_selected: '{0} vybráno'
filter_submit_button: Filtrovat
show_filter: Ukázat filtr
per_page_submit: Změnit

showing_all_items: Všechny položky
showing_items: 'Zobrazeno <span class="font-medium">%from%</span> - <span class="font-medium">%to%</span> z <span class="font-medium">%total%</span> položek'
showing_items_with_max_count: 'Zobrazeno <span class="font-medium">%from%</span> - <span class="font-medium">%to%</span> z více jak <span class="font-medium">%total%</span> položek'
showing_items_with_estimate: 'Zobrazeno <span class="font-medium">%from%</span> - <span x-data x-tooltip.placement.bottom.raw="Počet položek nemusí být přesný, jedná se pouze o odhad."><span class="font-medium">%to%</span> z <span class="font-medium">~%total%</span> položek</span>'

boolean_filter:
    yes: ano
    no: ne

invalid_uuid: UUID není validní
