services:
	# infra
	-
		type: App\Domain\Project\ProjectRepositoryInterface
		factory: App\Infrastructure\Project\ProjectRepository
	-
		type: App\Domain\Project\CheckCodeUniquenessInterface
		factory: App\Infrastructure\Project\CheckCodeUniqueness

	# infra: doctrine
	-
		autowired: self
		type: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewDataTransformerInterface
		factory: App\Infrastructure\Project\Doctrine\ReadModel\ProjectViewDataTransformer
	-
		autowired: no
		factory: App\Infrastructure\Project\Doctrine\ReadModel\FindProjectSelectOptionsQueryHandler
	-
		autowired: no
		factory: App\Infrastructure\Project\Doctrine\ReadModel\FindUserProjectsQueryHandler
	-
		autowired: no
		factory: App\Infrastructure\Project\Doctrine\ReadModel\GetProjectByCodeQueryHandler
	-
		autowired: no
		factory: App\Infrastructure\Project\Doctrine\ReadModel\GetUserProjectByCodeQueryHandler
	-
		autowired: no
		factory: App\Infrastructure\Project\Doctrine\ReadModel\ProjectExistsQueryHandler

# infra: doctrine mapping
nettrine.orm.xml:
	mapping:
		App\Domain\Project: %appDir%/Infrastructure/Project/Doctrine/Mapping

# infra: dbal types
nettrine.dbal:
	connection:
		types:
			App\Domain\Project\ValueObject\Code:
				class: App\Infrastructure\Project\Doctrine\DbalType\CodeType
				commented: yes

			App\Domain\Project\ValueObject\Color:
				class: App\Infrastructure\Project\Doctrine\DbalType\ColorType
				commented: yes

			App\Domain\Project\ValueObject\Description:
				class: App\Infrastructure\Project\Doctrine\DbalType\DescriptionType
				commented: yes

			App\Domain\Project\ValueObject\Name:
				class: App\Infrastructure\Project\Doctrine\DbalType\NameType
				commented: yes

			App\Domain\Project\ValueObject\ProjectId:
				class: App\Infrastructure\Project\Doctrine\DbalType\ProjectIdType
				commented: yes
