services:
	-
		autowired: no
		factory: App\Subscribers\Project\AssignCreatedProjectToLoggedUser
	-
		autowired: no
		factory: App\Subscribers\Project\CreateCookieProviderWhenProjectCreated
	-
		autowired: no
		factory: App\Subscribers\Project\DeleteCookieProviderWhenProjectDeleted
	-
		autowired: no
		factory: App\Subscribers\Project\CreateDefaultTemplateWhenProjectCreated
