{templateType App\Web\FrontModule\Presenter\ForgotPasswordTemplate}

{block #scripts}
    {include parent}

    {if $recaptchaEnabled}
        {encore_js recaptcha, null, app}
    {/if}
{/block}

{block #content}

{control forgotPassword}

<div class="mt-6 text-sm text-right">
    <a n:href="SignIn:" class="font-medium text-indigo-600 hover:text-indigo-500">
        {_back_to_sign_in}
    </a>
</div>
