{block #content}

{control signIn}

<div class="mt-6 text-sm text-right">
    <a n:href="ForgotPassword:" class="font-medium text-indigo-600 hover:text-indigo-500">
        {_forgot_your_password}
    </a>
</div>
