services:
    # infra
    -
        type: App\Domain\CookieProvider\CookieProviderRepositoryInterface
        factory: App\Infrastructure\CookieProvider\CookieProviderRepository
    -
        type: App\Domain\CookieProvider\CheckCodeUniquenessInterface
        factory: App\Infrastructure\CookieProvider\CheckCodeUniqueness

    # infra: doctrine
    -
        autowired: self
        type: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewDataTransformerInterface
        factory: App\Infrastructure\CookieProvider\Doctrine\ReadModel\CookieProviderViewDataTransformer
    -
        autowired: no
        factory: App\Infrastructure\CookieProvider\Doctrine\ReadModel\GetCookieProviderByIdQueryHandler
    -
        autowired: no
        factory: App\Infrastructure\CookieProvider\Doctrine\ReadModel\CookieProviderExportQueryHandler
    -
        autowired: no
        factory: App\Infrastructure\CookieProvider\Doctrine\ReadModel\GetCookieProviderByCodeQueryHandler
    -
        autowired: no
        factory: App\Infrastructure\CookieProvider\Doctrine\ReadModel\CookieProviderDataGridQueryHandler
    -
        autowired: no
        factory: App\Infrastructure\CookieProvider\Doctrine\ReadModel\FindCookieProvidersByCodesQueryHandler
    -
        autowired: no
        factory: App\Infrastructure\CookieProvider\Doctrine\ReadModel\FindCookieProviderSelectOptionsQueryHandler

# infra: doctrine mapping
nettrine.orm.xml:
    mapping:
        App\Domain\CookieProvider: %appDir%/Infrastructure/CookieProvider/Doctrine/Mapping

# infra: dbal types
nettrine.dbal:
    connection:
        types:
            App\Domain\CookieProvider\ValueObject\Code:
                class: App\Infrastructure\CookieProvider\Doctrine\DbalType\CodeType
                commented: yes

            App\Domain\CookieProvider\ValueObject\CookieProviderId:
                class: App\Infrastructure\CookieProvider\Doctrine\DbalType\CookieProviderIdType
                commented: yes

            App\Domain\CookieProvider\ValueObject\Link:
                class: App\Infrastructure\CookieProvider\Doctrine\DbalType\LinkType
                commented: yes

            App\Domain\CookieProvider\ValueObject\Name:
                class: App\Infrastructure\CookieProvider\Doctrine\DbalType\NameType
                commented: yes

            App\Domain\CookieProvider\ValueObject\ProviderType:
                class: App\Infrastructure\CookieProvider\Doctrine\DbalType\ProviderTypeType
                commented: yes

            App\Domain\CookieProvider\ValueObject\Purpose:
                class: App\Infrastructure\CookieProvider\Doctrine\DbalType\PurposeType
                commented: yes
