<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="color-scheme" content="light only">
        <meta name="supported-color-schemes" content="light only">
        <title>{block #title|trim}CMP{/block}</title>

        {block #styles}
            {include_css 'mail', 'mail'}
        {/block}
    </head>
    <body>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
            <tr>
                <td>&nbsp;</td>
                <td class="container">
                    <div class="content">

                        <table role="presentation" class="main">
                            <tr>
                                <td class="header">
                                    <h1>
                                        <span class="header-icon">
                                            {block #header_icon}
                                                <img src="{asset 'logo.png', 'mail'}" alt="logo">
                                            {/block}
                                        </span>
                                        <span class="header-title">
                                            {block #header_title}{/block}
                                        </span>
                                    </h1>
                                </td>
                            </tr>
                            <!-- START MAIN CONTENT AREA -->
                            <tr>
                                <td class="wrapper">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                {include #content}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <!-- END MAIN CONTENT AREA -->
                        </table>
                        <!-- END CENTERED WHITE CONTAINER -->

                        <!-- START FOOTER -->
                        <div class="footer">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td n:block="#footer">
                                        <a href="{$_projectUrl}">{$_projectUrl}</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- END FOOTER -->

                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </body>
</html>
