{layout $_config->layout}

{varType string $emailAddress}
{varType string $passwordRequestId}
{varType \DateTimeImmutable $expireAt}

{block #title|trim}
    {_password_change_requested.title}
{/block}

{block #content}
    {capture $link}{link Front:ResetPassword: id => $passwordRequestId}{/capture}

    {_password_change_requested.content, [link => $link, email_address => $emailAddress, expire_at => $expireAt->format('j.n.Y H:i')]|noescape}
{/block}
