services:
    -
        autowired: no
        factory: App\Domain\User\CommandHandler\AssignProjectsToUserCommandHandler
    -
        autowired: no
        factory: App\Domain\User\CommandHandler\ChangeNotificationPreferencesCommandHandler
    -
        autowired: no
        factory: App\Domain\User\CommandHandler\StoreExternalAuthenticationCommandHandler
