services:
    # infra: doctrine
    -
        autowired: self
        type: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewDataTransformerInterface
        factory: App\Infrastructure\User\Doctrine\ReadModel\NotificationReceiverViewDataTransformer
    -
        autowired: no
        factory: App\Infrastructure\User\Doctrine\ReadModel\UsersDataGridQueryHandler
    -
        autowired: no
        factory: App\Infrastructure\User\Doctrine\ReadModel\FindNotificationReceiversByTypeAndProjectIdsQueryHandler

# infra: doctrine mapping
nettrine.orm.xml:
    mapping:
        App\Domain\User: %appDir%/Infrastructure/User/Doctrine/Mapping

# infra: dbal types
nettrine.dbal:
    connection:
        types:
            App\Domain\User\ValueObject\AuthProviderCode:
                class: App\Infrastructure\User\Doctrine\DbalType\AuthProviderCodeType
                commented: yes

            App\Domain\User\ValueObject\AuthResourceOwnerId:
                class: App\Infrastructure\User\Doctrine\DbalType\AuthResourceOwnerIdType
                commented: yes

            App\Domain\User\ValueObject\AuthToken:
                class: App\Infrastructure\User\Doctrine\DbalType\AuthTokenType
                commented: yes

            App\Domain\User\ValueObject\NotificationPreferences:
                class: App\Infrastructure\User\Doctrine\DbalType\NotificationPreferencesType
                commented: yes
