services:
	# infra: doctrine
	-
		autowired: no
		factory: App\Infrastructure\User\Doctrine\ReadModel\UsersDataGridQueryHandler

# infra: doctrine mapping
nettrine.orm.xml:
	mapping:
		App\Domain\User: %appDir%/Infrastructure/User/Doctrine/Mapping
